apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-frontend
  namespace: elbatt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-frontend
  template:
    metadata:
      labels:
        app: admin-frontend
    spec:
      containers:
      - name: admin-frontend
        image: rg.fr-par.scw.cloud/elbatt/admin-frontend:latest
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "100m"
            memory: "128Mi"
          requests:
            cpu: "50m"
            memory: "64Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: admin-frontend-service
  namespace: elbatt
spec:
  selector:
    app: admin-frontend
  ports:
  - port: 80
    targetPort: 80
