apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot-backend
  namespace: elbatt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chatbot-backend
  template:
    metadata:
      labels:
        app: chatbot-backend
    spec:
      containers:
      - name: chatbot-backend
        image: rg.fr-par.scw.cloud/elbatt/chatbot-backend:latest
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        env:
        - name: REDIS_URL
          value: "redis://redis-service:6379"
---
apiVersion: v1
kind: Service
metadata:
  name: chatbot-backend-service
  namespace: elbatt
spec:
  selector:
    app: chatbot-backend
  ports:
  - port: 8000
    targetPort: 8000
