name: Deploy to Scaleway Serverless Containers

on:
  push:
    branches: [main]

jobs:
  build-push-serverless:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Scaleway Registry
        run: echo ${{ secrets.SCW_SECRET_KEY }} | docker login rg.fr-par.scw.cloud -u ${{ secrets.SCW_ACCESS_KEY }} --password-stdin

      - name: Build & push backend image
        run: |
          docker build -t rg.fr-par.scw.cloud/funcscwelbattlangflow0qetcsl6/backend:latest ./backend
          docker push rg.fr-par.scw.cloud/funcscwelbattlangflow0qetcsl6/backend:latest

      - name: Build & push frontend image
        run: |
          docker build -t rg.fr-par.scw.cloud/funcscwelbattlangflow0qetcsl6/frontend:latest ./frontend
          docker push rg.fr-par.scw.cloud/funcscwelbattlangflow0qetcsl6/frontend:latest
