- name: Remove old scw if exists
  run: sudo rm -f /usr/local/bin/scw || true

- name: Install Scaleway CLI
  run: |
    curl -fsSL https://github.com/scaleway/scaleway-cli/releases/latest/download/scaleway-cli_linux_amd64 -o scw
    chmod +x scw
    file scw
    sudo mv scw /usr/local/bin/scw
    scw -v
