name: Keep Alive

on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes

jobs:
  keep_alive:
    runs-on: ubuntu-latest
    steps:
      - name: Ping
        run: curl -s https://www.vg.no/keepalive
