name: Test SSH Connection to Scaleaway

on:
  workflow_dispatch:

jobs:
  test-ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH Connection
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 51.15.203.146       # Din Scaleaway IP
          username: root
          key: ${{ secrets.SCALEAWAY_SSH_KEY }}
          script: |
            hostname
            uptime
